.mfx-date-picker {
    -fx-background-color: base-colour;
    -fx-border-color: dark-grey;
    -fx-text-fill: black;
}

.mfx-date-picker .mfx-icon-wrapper .mfx-ripple-generator {
    -mfx-ripple-color: light-grey;
}

.mfx-date-picker:focus-within .icon {
    -mfx-color: dark-grey;
}

.mfx-date-picker .date-picker-popup .left-arrow .mfx-ripple-generator,
.mfx-date-picker .date-picker-popup .right-arrow .mfx-ripple-generator {
    -mfx-ripple-color: light-grey;
}

.mfx-date-picker .date-picker-popup .months-combo:focus-within,
.mfx-date-picker .date-picker-popup .years-combo:focus-within {
    -fx-background-color: light-grey;
    -fx-text-fill: black;
}

.mfx-date-picker .date-picker-popup .months-combo .mfx-icon-wrapper .mfx-ripple-generator,
.mfx-date-picker .date-picker-popup .years-combo .mfx-icon-wrapper .mfx-ripple-generator {
    -mfx-ripple-color: light-grey;
}


.mfx-date-picker .date-picker-popup .months-combo .virtual-flow .mfx-combo-box-cell:hover,
.mfx-date-picker .date-picker-popup .years-combo .virtual-flow .mfx-combo-box-cell:hover {
    -fx-background-color: light-grey;
}

.mfx-date-picker .date-picker-popup .months-combo .virtual-flow .mfx-combo-box-cell:selected,
.mfx-date-picker .date-picker-popup .years-combo .virtual-flow .mfx-combo-box-cell:selected {
    -fx-background-color: light-grey;
}

.mfx-date-picker .date-picker-popup .months-combo .virtual-flow .mfx-combo-box-cell:selected .label,
.mfx-date-picker .date-picker-popup .years-combo .virtual-flow .mfx-combo-box-cell:selected .label {
    -fx-text-fill: black;
}

.mfx-date-cell:current {
    -fx-text-fill: black;
    -fx-background-color: light-grey;
}

.mfx-date-cell:selected {
    -fx-text-fill: white;
    -fx-background-color: dark-grey;
}