@import "Colors.css";

* {
    -fx-font-size: 14;
}

.mfx-dialog .actions-pane .mfx-button,
.mfx-button{
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-padding: 7 10 7 10;

    -fx-font-family: "Open Sans Bold";
}

.mfx-dialog .actions-pane .mfx-button .mfx-ripple-generator,
.mfx-button .mfx-ripple-generator {
    -mfx-auto-clip: true;
    -mfx-background-opacity: 0.3;
    -mfx-ripple-radius: 50;
}

.mfx-dialog .actions-pane .mfx-button .text,
.mfx-button .text {
    -fx-font-smoothing-type: lcd;
}

.mfx-dialog .actions-pane .mfx-button:hover,
.mfx-button:hover {
    -fx-background-color: #ededf0;
}

/*Removal of default materialFX purple colour*/
.mfx-text-field {
    -mfx-main: -fx-dark-grey;
}

.mfx-text-field .text-field {
    -fx-highlight-fill: #C0C0C0; /* Selected text highlight */
}

.text-area {
    -fx-focus-color: -fx-dark-grey;
    -fx-faint-focus-color: -fx-dark-grey;
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 5;
    -fx-border-color: -fx-light-grey;
    -fx-border-width: 1;
    -fx-highlight-fill: -fx-light-grey; /* Selected text highlight */
    -fx-highlight-text-fill: black; /* Selected text color */
}

.text-area .content {
    -fx-border-style: none;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-font-family: "Open Sans Regular";
    -fx-background-color: white;
}

.text-area:focused {
    -fx-background-insets: 2;
    -fx-border-insets: -0.5;
    -fx-border-width: 1.5;
    -fx-border-color: -fx-dark-grey;
}