@import "Colors.css";

.mfx-tableview {
    -fx-background-color: -fx-base-color;
    -fx-border-color: -fx-dark-grey;
    -fx-text-fill: black;
}

.mfx-tableview .column-header .label {
    -fx-font-weight: bold;
}