@import "Colors.css";

.text-area-with-floating-text {
    -fx-background-color: -fx-base-color;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 5;
    -fx-border-color: -fx-light-grey;
    -fx-border-width: 1;
}

.text-area-with-floating-text:focused {
    -fx-background-insets: 2;
    -fx-border-insets: -0.5;
    -fx-border-width: 1.5;
    -fx-border-color: -fx-dark-grey;
}

.text-area-with-floating-text .text-area {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-style: none;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: white;
    -fx-highlight-fill: -fx-light-grey; /* Selected text highlight */
    -fx-highlight-text-fill: black; /* Selected text color */
}

.text-area-with-floating-text .text-area .content {
    -fx-border-style: none;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-font-family: "Open Sans Regular";
    -fx-background-color: -fx-control-inner-background;
}

.text-area-with-floating-text .floating-label .label {
    -fx-font-family: "Open Sans Regular";
}