.text-area-with-floating-text {
    -mfx-background-color: base-colour;
    -mfx-background-radius: 5;
    -mfx-border-radius: 5;
    -mfx-padding: 5;
    -mfx-border-color: light-gray;
    -mfx-border-width: 1;
}

.text-area-with-floating-text:focused {
    -mfx-background-insets: 2;
    -mfx-border-insets: -0.5;
    -mfx-border-width: 1.5;
    -mfx-border-color: dark-grey;
}

.text-area-with-floating-text .text-area {
    -mfx-focus-color: transparent;
    -mfx-faint-focus-color: transparent;
    -mfx-border-style: none;
    -mfx-background-radius: 0;
    -mfx-border-radius: 0;
    -mfx-background-color: -fx-control-inner-background;
    -mfx-highlight-fill: light-grey; /* Selected text highlight */
    -mfx-highlight-text-fill: black; /* Selected text color */
}

.text-area-with-floating-text .text-area .content {
    -mfx-border-style: none;
    -mfx-background-radius: 0;
    -mfx-border-radius: 0;
    -mfx-font-family: "Open Sans Regular";
    -mfx-background-color: -fx-control-inner-background;
}

.text-area-with-floating-text .floating-label .label {
    -mfx-font-family: "Open Sans Regular";
}

/*TODO change scroll bar */